h1 {
    color: red;
}

#calc-container {
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    width: 400px;
    height: 500px;
}

#display {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}

#buttons {
    display: flex
}

#numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#operators {
    display: flex;
    flex-direction: column;
}